.scheduleHeading {
   text-decoration: underline;
   font-size: 12pt;
   font-family:trebuchet,arial,sans-serif;
   font-weight: bold;
   color:#CA0F0B;
}

.boldTextCell {
    font-weight: bold;
    font-size: 10pt;
    font-family:trebuchet,arial,sans-serif;
    color:#CA0F0B;
    width: 270px;
    vertical-align:top;
}

.boldText {
    font-weight: bold;
    font-size:10pt;
    font-family: trebuchet, arial, sans-serif;
    color: #CA0F0B;
}
.time {
   font-family:trebuchet,arial,sans-serif;
   font-size:10pt;
   color:#333333;
   width: 200px;
}

.ticketHeading {
   font-family:trebuchet,arial,sans-serif;
   font-size:10pt;
   color:#333333;
   width: 270px;
   vertical-align:top;
}
.ticketPrice {
   font-family:trebuchet,arial,sans-serif;
   font-size:10pt;
   color:#333333;
   vertical-align:top;
}

.scheduleDescription {
    font-family:trebuchet,arial,sans-serif;
    font-size:10pt;
    color:#333333;
}
.boldCenteredText {
    text-align:center;
    font-weight:bold;
}

.centeredText {
    text-align:center;
}

.gamesDescription {
    font-family:trebuchet,arial,sans-serif;
    font-size:10pt;
    color:#333333;
    vertical-align:top;
}

.competitorName {
    font-family:trebuchet,arial,sans-serif;
    font-size:10pt;
    color:#333333;
    vertical-align:top;
    text-align:center;
}

.competitorNameSAA {
    font-family:trebuchet,arial,sans-serif;
    font-size:10pt;
    color:#333333;
    vertical-align:top;
    text-align:center;
    padding: 20px;
    width: 100px;
}

.bioHeading {
    font-weight: bold;
    font-size:10pt;
    font-family: trebuchet, arial, sans-serif;
    color: #CA0F0B;
    width: 150px;
    vertical-align:top;
}

.bioData {
    font-family:trebuchet,arial,sans-serif;
    font-size:10pt;
    color:#333333;
}

.cellLink {
    font-weight: bold;
    font-size: 10pt;
    font-family:trebuchet,arial,sans-serif;
    color:#1D3A7E;
    text-decoration: none;
}

.royalSponsorHeading {
    font-family:trebuchet,arial,sans-serif;
    font-size:20pt;
    color:#CA0F0B;
    text-align:center;
}

.royalSponsorText {
    font-family:trebuchet,arial,sans-serif;
    font-size:20pt;
    color:#333333;
    text-align:center;
}

.peerageSponsorHeading {
    font-family:trebuchet,arial,sans-serif;
    font-size:16pt;
    color:#CA0F0B;
    text-align:center;
}

.peerageSponsorText {
    font-family:trebuchet,arial,sans-serif;
    font-size:16pt;
    color:#333333;
    text-align:center;
}

a:hover {
    text-decoration: underline;
}
