      <div id="top" style="background-image:url('img/template/topBg.jpg'); height:185px; width:960px;">
		 <a href="index.php" onMouseOver="document.home.src='img/template/nav/homeGlow.png';" onMouseOut="document.home.src='img/template/nav/home.png';" style="position:relative; left:277px; top:37px; text-decoration:none;"><img src="img/template/nav/home.png" name="home" border="0"></a>
	     <a href="tournaments.php" onMouseOver="document.tournaments.src='img/template/nav/tournamentsGlow.png';" onMouseOut="document.tournaments.src='img/template/nav/tournaments.png';" style="position:relative; left:270px; top:18px; text-decoration:none;"><img src="img/template/nav/tournaments.png" name="tournaments" border="0"></a>
         <a href="chivalric.php" style="position: absolute; left:525px; top:40px;"><img src="img/template/nav/chivalric.png" border="0"></a>		 
		 <a href="http://www.facebook.com/event.php?eid=176070679093526" target="_new"><img src="img/socialNetworks/FB.png" style="position: absolute; left: 727px; top: 95px; border:0px;"></a>
		 <a href="http://twitter.com/LystsOnTheLake" target="_new"><img src="img/socialNetworks/T.png" style="position: absolute; left: 704px; top:95px; border:0px;"></a>
      </div>
